body {
  background-color: black;
  box-sizing: border-box;
  font-family: "Inter";
}

h1 {
  font-weight: 800;
}

.container {
  width: 543px;
  height: 729px;
  background-color: #f4f4f4;
  margin: 4vh auto;
}

#result-top {
  height: 35%;
  background-color: #6943ff;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#unit-text-input {
  text-align: center;
  background-color: #6943ff;
  border: 3px solid #b295ff;
  color: white;
  margin-bottom: 2%;
  width: 100px;
  height: 65px;
  font-size: 2.5em;
  border-radius: 5px;
  font-weight: bold;
}

#convert-btn {
  width: 105px;
  height: 35px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-weight: 500;
  color: #3d3d3d;
}

#results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result {
  text-align: center;
  margin-top: 4%;
  width: 85%;
  border-radius: 5px;
  background: #ffffff;
}

.result h2 {
  color: #5A537B;
}
